<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @lider.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @lider.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @lider.telefone %>
</p>

<p>
  <strong>Residencial:</strong>
  <%= @lider.residencial %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @lider.celular %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @lider.Endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @lider.Bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @lider.Cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @lider.Estado %>
</p>

<%= link_to 'Edit', edit_lider_path(@lider) %> |
<%= link_to 'Back', lideres_path %>
